<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395090870833-q0qnrc9lanvpih6enpocg6djkj0thevm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395090870833-q0qnrc9lanvpih6enpocg6djkj0thevm</string>
	<key>API_KEY</key>
	<string>AIzaSyDxfyG1VfrCmn_XkdXNa-UDf6fSP5yS7Fw</string>
	<key>GCM_SENDER_ID</key>
	<string>395090870833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.compressVideo</string>
	<key>PROJECT_ID</key>
	<string>compress-video-69848</string>
	<key>STORAGE_BUCKET</key>
	<string>compress-video-69848.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395090870833:ios:06268f12897199a0344b10</string>
</dict>
</plist>